.Event{
    position: relative;
    width: 100%; /* Adjusted for responsiveness */
    max-width: 800px; /* Added a max-width for responsiveness */
    margin: 50px auto; /* Centered the container */
    padding: 30px;
    background-color: #F8F8F8;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Title{
    float: left;
    text-align: left;
    justify-content: left;
    display: flex;

    margin: 0px 20px 10px 25px;
    padding: 10px;
    width: 700px;
}

.Heading{
    width: 700px;
    border-bottom: 3px solid #4772422c;
}

.Title .EventTitle{
    margin: 0px 20px 10px 0px;
    align-self: flex-end;

    color: #477242;
    font-size: 400%;
}

.Title .Points{
    align-self: flex-end;
    margin: 0px 20px 10px 0px;

    color: #FBBF16;
    font-size: 300%;
}

.Heading .Event_Info{
    text-align: left;
    justify-content: left;
    text-decoration: underline;

    margin: 0px 20px 10px 25px;
    padding: 10px;
}

.About{
margin:19px;
    width: 700px;
    height: 25%;
}

.About .AboutTitle{
    text-align: left;
    justify-content: left;

    margin: 0px 20px 10px 25px;
    padding: 10px;
}

.About .Desc{
    text-align: left;
    justify-content: left;

    margin: 0px 20px 10px 25px;
    padding: 10px;
}


.About .button{
    margin: 10px 100px 10px 0px;
    margin-left: 50%;
    margin-right: 110%;

    text-align: center;
    justify-content: center;

    
}

.close{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.About .Register {
    background-color: #477242;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: auto;
  }


.EventCard {
    position: relative;
    background-color: var(--white);
    padding: max(16px, 3lvw);
    padding-left: calc(max(16px, 3lvw) + 12px); /* + color boder width */
    border-radius: 8px;
    box-shadow: var(--outline);
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 100ms ease-in;
    cursor: pointer;
  }